<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-app="D3App" ng-controller="myCtrl">
    <h1> Pie and Donut chart data visualisation testing </h1>
    <div id="pieChart"></div>
    <div id="donutChartContainer">
        <div id="donutChart"></div>
        <form>
            <div class="form-group formTitleGroup">
                <h2>Control the donut chart!</h2>
            </div>
            <div class="form-group" ng-repeat="dataEntry in dataset">
                <label for="input1">Input {{dataset.indexOf(dataEntry)}}</label>
                <input class="form-control inputPercentage" type="number" ng-model='dataEntry.count'>
                <input class="form-control inputName" placeholder="{{dataEntry.label}}" type="text" ng-model="inputName">
            </div>
            <div class="form-group">
                <button ng-click="createDonutChart()" type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>
