#pieChart
{
    width: 360px;
    display: inline;
    height: 360px;
}
#donutChart
{
    width: 360px;
    display: inline;
    height: 360px;
}

.legend 
{
    font-size: 12px;
}

rect 
{
    stroke-width: 2;
}